<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%x] %c{1} %m%n" />
        </layout>
    </appender>
    <appender name="scentWebLog" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="/home/tapan/logs/scent-web.log"/>
        <!-- the log will contains the log messages started from the ERROR and FATAL level..(info or less) -->
        <!--param name="Threshold" value="INFO"/-->
        <param name="Append" value="true" />
     	<layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%x] %c{1} %m%n" />
        </layout>
    </appender>
 
    <logger name="com.scholastic.scent" additivity="false">
       <level value="INFO" />
        <appender-ref ref="ConsoleAppender" />
        <appender-ref ref="scentWebLog" />
    </logger>

    <root>
       <level value="INFO" />
        <appender-ref ref="ConsoleAppender" />
        <appender-ref ref="scentWebLog" />
    </root>
</log4j:configuration>
